In [1]:
import numpy as np
import pandas as pd

# DATA

In [2]:
pwd

'C:\\Users\\Hannah\\HW02'

In [3]:
cd C:\\Users\\Hannah\\DATA

C:\Users\Hannah\DATA

In [4]:
pwd

'C:\\Users\\Hannah\\DATA'

In [5]:
CDI = pd.read_csv("U.S._Chronic_Disease_Indicators__CDI_.csv")

c:\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
low_memory = False

In [7]:
CDI = pd.read_csv("U.S._Chronic_Disease_Indicators__CDI_.csv")

In [8]:
CDI.shape

(956638, 34)

In [9]:
CDI.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2010,2014,AK,Alaska,Death Certificate,Cancer,"Cancer of the oral cavity and pharynx, mortality",NaN,NaN,Average Annual Number,...,2,CAN,CAN10_2,AVGANNNMBR,GENDER,GENF,NaN,NaN,NaN,NaN
1,2010,2014,AK,Alaska,Death Certificate,Cancer,"Cancer of the oral cavity and pharynx, mortality",NaN,NaN,Average Annual Number,...,2,CAN,CAN10_2,AVGANNNMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2010,2014,AZ,Arizona,Death Certificate,Cancer,"Cancer of the oral cavity and pharynx, mortality",NaN,NaN,Average Annual Number,...,4,CAN,CAN10_2,AVGANNNMBR,GENDER,GENM,NaN,NaN,NaN,NaN
3,2008,2012,NY,New York,Death Certificate,Cancer,"Cancer of the oral cavity and pharynx, mortality",NaN,NaN,Average Annual Number,...,36,CAN,CAN10_2,AVGANNNMBR,GENDER,GENM,NaN,NaN,NaN,NaN
4,2009,2013,NY,New York,Death Certificate,Cancer,"Cancer of the oral cavity and pharynx, mortality",NaN,NaN,Average Annual Number,...,36,CAN,CAN10_2,AVGANNNMBR,GENDER,GENM,NaN,NaN,NaN,NaN

# Selection of Data and Reshaping the Data

Remove all information that we do not need (keep only information related to Binge Drinking and Poverty)

In [10]:
BingeDrinking_Poverty = CDI[(CDI['Question'] == 'Binge drinking prevalence among adults aged >= 18 years') | (CDI['Question'] == 'Poverty')]

In [11]:
BingeDrinking_Poverty.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
331,2013,2013,TX,Texas,ACS 1-Year Estimates,Overarching Conditions,Poverty,NaN,%,Crude Prevalence,...,48,OVC,OVC3_1,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
338,2017,2017,AZ,Arizona,ACS 1-Year Estimates,Overarching Conditions,Poverty,NaN,%,Crude Prevalence,...,4,OVC,OVC3_1,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
339,2014,2014,MO,Missouri,ACS 1-Year Estimates,Overarching Conditions,Poverty,NaN,%,Crude Prevalence,...,29,OVC,OVC3_1,CRDPREV,GENDER,GENM,NaN,NaN,NaN,NaN
340,2015,2015,AL,Alabama,ACS 1-Year Estimates,Overarching Conditions,Poverty,NaN,%,Crude Prevalence,...,1,OVC,OVC3_1,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
345,2014,2014,OH,Ohio,ACS 1-Year Estimates,Overarching Conditions,Poverty,NaN,%,Crude Prevalence,...,39,OVC,OVC3_1,CRDPREV,RACE,BLK,NaN,NaN,NaN,NaN

In [12]:
GenderStratification = BingeDrinking_Poverty[(BingeDrinking_Poverty['Stratification1'] == 'Female') | (BingeDrinking_Poverty['Stratification1'] == 'Male')]

In [212]:
GenderStratification.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
331,2013,2013,TX,Texas,ACS 1-Year Estimates,Overarching Conditions,Poverty,NaN,%,Crude Prevalence,...,48,OVC,OVC3_1,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
338,2017,2017,AZ,Arizona,ACS 1-Year Estimates,Overarching Conditions,Poverty,NaN,%,Crude Prevalence,...,4,OVC,OVC3_1,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
339,2014,2014,MO,Missouri,ACS 1-Year Estimates,Overarching Conditions,Poverty,NaN,%,Crude Prevalence,...,29,OVC,OVC3_1,CRDPREV,GENDER,GENM,NaN,NaN,NaN,NaN
357,2014,2014,MS,Mississippi,ACS 1-Year Estimates,Overarching Conditions,Poverty,NaN,%,Crude Prevalence,...,28,OVC,OVC3_1,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
373,2014,2014,WV,West Virginia,ACS 1-Year Estimates,Overarching Conditions,Poverty,NaN,%,Crude Prevalence,...,54,OVC,OVC3_1,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN

In [14]:
GenderStratification.shape

(2934, 34)

In [106]:
GenderStratification_long = GenderStratification[['LocationAbbr', 'LocationDesc','YearStart', 'Question', 'Stratification1', 'DataValue']]
GenderStratification_long

,LocationAbbr,LocationDesc,YearStart,Question,Stratification1,DataValue
331,TX,Texas,2013,Poverty,Female,19.1
338,AZ,Arizona,2017,Poverty,Female,15.8
339,MO,Missouri,2014,Poverty,Male,14
357,MS,Mississippi,2014,Poverty,Female,23.5
373,WV,West Virginia,2014,Poverty,Female,19.7
...,...,...,...,...,...,...
432597,GU,Guam,2018,Binge drinking prevalence among adults aged >=...,Female,7.9
432609,PA,Pennsylvania,2019,Binge drinking prevalence among adults aged >=...,Male,21.5
432610,TN,Tennessee,2017,Binge drinking prevalence among adults aged >=...,Female,9.3
432619,WA,Washington,2017,Binge drinking prevalence among adults aged >=...,Male,19.9
432626,MS,Mississippi,2019,Binge drinking prevalence among adults aged >=...,Female,8.5

In [107]:
GenderStratification_long['binge_all'] = np.where(GenderStratification_long['Question']!= 'Poverty', True, False)
GenderStratification_long.head()

C:\Users\Hannah\AppData\Local\Temp/ipykernel_1768/231590955.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GenderStratification_long['binge_all'] = np.where(GenderStratification_long['Question']!= 'Poverty', True, False)

,LocationAbbr,LocationDesc,YearStart,Question,Stratification1,DataValue,binge_all
331,TX,Texas,2013,Poverty,Female,19.1,False
338,AZ,Arizona,2017,Poverty,Female,15.8,False
339,MO,Missouri,2014,Poverty,Male,14,False
357,MS,Mississippi,2014,Poverty,Female,23.5,False
373,WV,West Virginia,2014,Poverty,Female,19.7,False

In [108]:
GenderStratification_long['poverty']=np.where(GenderStratification_long['Question'] == 'Poverty', True, False)
GenderStratification_long

C:\Users\Hannah\AppData\Local\Temp/ipykernel_1768/2712996356.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GenderStratification_long['poverty']=np.where(GenderStratification_long['Question'] == 'Poverty', True, False)

,LocationAbbr,LocationDesc,YearStart,Question,Stratification1,DataValue,binge_all,poverty
331,TX,Texas,2013,Poverty,Female,19.1,False,True
338,AZ,Arizona,2017,Poverty,Female,15.8,False,True
339,MO,Missouri,2014,Poverty,Male,14,False,True
357,MS,Mississippi,2014,Poverty,Female,23.5,False,True
373,WV,West Virginia,2014,Poverty,Female,19.7,False,True
...,...,...,...,...,...,...,...,...
432597,GU,Guam,2018,Binge drinking prevalence among adults aged >=...,Female,7.9,True,False
432609,PA,Pennsylvania,2019,Binge drinking prevalence among adults aged >=...,Male,21.5,True,False
432610,TN,Tennessee,2017,Binge drinking prevalence among adults aged >=...,Female,9.3,True,False
432619,WA,Washington,2017,Binge drinking prevalence among adults aged >=...,Male,19.9,True,False
432626,MS,Mississippi,2019,Binge drinking prevalence among adults aged >=...,Female,8.5,True,False

In [109]:
GenderStratification_long['binge_male_info']=GenderStratification_long['Question']+GenderStratification_long['Stratification1']
GenderStratification_long
GenderStratification_long['binge_male'] = np.where(GenderStratification_long['binge_male_info']=='Binge drinking prevalence among adults aged >= 18 yearsMale', True, False)
GenderStratification_long

C:\Users\Hannah\AppData\Local\Temp/ipykernel_1768/1351898937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GenderStratification_long['binge_male_info']=GenderStratification_long['Question']+GenderStratification_long['Stratification1']
C:\Users\Hannah\AppData\Local\Temp/ipykernel_1768/1351898937.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GenderStratification_long['binge_male'] = np.where(GenderStratification_long['binge_male_info']=='Binge drinking prevalence among adults aged >= 18 yearsMale', True, False)

,LocationAbbr,LocationDesc,YearStart,Question,Stratification1,DataValue,binge_all,poverty,binge_male_info,binge_male
331,TX,Texas,2013,Poverty,Female,19.1,False,True,PovertyFemale,False
338,AZ,Arizona,2017,Poverty,Female,15.8,False,True,PovertyFemale,False
339,MO,Missouri,2014,Poverty,Male,14,False,True,PovertyMale,False
357,MS,Mississippi,2014,Poverty,Female,23.5,False,True,PovertyFemale,False
373,WV,West Virginia,2014,Poverty,Female,19.7,False,True,PovertyFemale,False
...,...,...,...,...,...,...,...,...,...,...
432597,GU,Guam,2018,Binge drinking prevalence among adults aged >=...,Female,7.9,True,False,Binge drinking prevalence among adults aged >=...,False
432609,PA,Pennsylvania,2019,Binge drinking prevalence among adults aged >=...,Male,21.5,True,False,Binge drinking prevalence among adults aged >=...,True
432610,TN,Tennessee,2017,Binge drinking prevalence among adults aged >=...,Female,9.3,True,False,Binge drinking prevalence among adults aged >=...,False
432619,WA,Washington,2017,Binge drinking prevalence among adults aged >=...,Male,19.9,True,False,Binge drinking prevalence among adults aged >=...,True
432626,MS,Mississippi,2019,Binge drinking prevalence among adults aged >=...,Female,8.5,True,False,Binge drinking prevalence among adults aged >=...,False

In [118]:
GenderStratification_long['binge_female_info']=GenderStratification_long['Question']+GenderStratification_long['Stratification1']
GenderStratification_long
GenderStratification_long['binge_female'] = np.where(GenderStratification_long['binge_female_info']=='Binge drinking prevalence among adults aged >= 18 yearsFemale', True, False)
GenderStratification_long

C:\Users\Hannah\AppData\Local\Temp/ipykernel_1768/3785881354.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GenderStratification_long['binge_female_info']=GenderStratification_long['Question']+GenderStratification_long['Stratification1']
C:\Users\Hannah\AppData\Local\Temp/ipykernel_1768/3785881354.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GenderStratification_long['binge_female'] = np.where(GenderStratification_long['binge_female_info']=='Binge drinking prevalence among adults aged >= 18 yearsFemale', True, False)

,LocationAbbr,LocationDesc,YearStart,Question,Stratification1,DataValue,binge_all,poverty,binge_male_info,binge_male,binge_female_info,binge_female
331,TX,Texas,2013,Poverty,Female,19.1,False,True,PovertyFemale,False,PovertyFemale,False
338,AZ,Arizona,2017,Poverty,Female,15.8,False,True,PovertyFemale,False,PovertyFemale,False
339,MO,Missouri,2014,Poverty,Male,14,False,True,PovertyMale,False,PovertyMale,False
357,MS,Mississippi,2014,Poverty,Female,23.5,False,True,PovertyFemale,False,PovertyFemale,False
373,WV,West Virginia,2014,Poverty,Female,19.7,False,True,PovertyFemale,False,PovertyFemale,False
...,...,...,...,...,...,...,...,...,...,...,...,...
432597,GU,Guam,2018,Binge drinking prevalence among adults aged >=...,Female,7.9,True,False,Binge drinking prevalence among adults aged >=...,False,Binge drinking prevalence among adults aged >=...,True
432609,PA,Pennsylvania,2019,Binge drinking prevalence among adults aged >=...,Male,21.5,True,False,Binge drinking prevalence among adults aged >=...,True,Binge drinking prevalence among adults aged >=...,False
432610,TN,Tennessee,2017,Binge drinking prevalence among adults aged >=...,Female,9.3,True,False,Binge drinking prevalence among adults aged >=...,False,Binge drinking prevalence among adults aged >=...,True
432619,WA,Washington,2017,Binge drinking prevalence among adults aged >=...,Male,19.9,True,False,Binge drinking prevalence among adults aged >=...,True,Binge drinking prevalence among adults aged >=...,False
432626,MS,Mississippi,2019,Binge drinking prevalence among adults aged >=...,Female,8.5,True,False,Binge drinking prevalence among adults aged >=...,False,Binge drinking prevalence among adults aged >=...,True

In [116]:
binge_clean1=GenderStratification_long.rename(columns = {'LocationAbbr' : 'stateabb', 'LocationDesc' : 'state', 'YearStart':'year'})
binge_clean1.head()

,stateabb,state,year,Question,Stratification1,DataValue,binge_all,poverty,binge_male_info,binge_male,binge_female_info,binge_female
331,TX,Texas,2013,Poverty,Female,19.1,False,True,PovertyFemale,False,PovertyFemale,False
338,AZ,Arizona,2017,Poverty,Female,15.8,False,True,PovertyFemale,False,PovertyFemale,False
339,MO,Missouri,2014,Poverty,Male,14,False,True,PovertyMale,False,PovertyMale,False
357,MS,Mississippi,2014,Poverty,Female,23.5,False,True,PovertyFemale,False,PovertyFemale,False
373,WV,West Virginia,2014,Poverty,Female,19.7,False,True,PovertyFemale,False,PovertyFemale,False

In [117]:
binge_clean1.shape

(2934, 12)

In [119]:
binge_clean=binge_clean1[['state','stateabb','year','binge_all','binge_male','binge_female','poverty']]
binge_clean

,state,stateabb,year,binge_all,binge_male,binge_female,poverty
331,Texas,TX,2013,False,False,False,True
338,Arizona,AZ,2017,False,False,False,True
339,Missouri,MO,2014,False,False,False,True
357,Mississippi,MS,2014,False,False,False,True
373,West Virginia,WV,2014,False,False,False,True
...,...,...,...,...,...,...,...
432597,Guam,GU,2018,True,False,True,False
432609,Pennsylvania,PA,2019,True,True,False,False
432610,Tennessee,TN,2017,True,False,True,False
432619,Washington,WA,2017,True,True,False,False
432626,Mississippi,MS,2019,True,False,True,False

In [93]:
binge_clean.to_csv("binge_clean.csv")

# Data Transformation and Summary Results

# Question Four

In [209]:
Question4 = binge_clean.sort_values(by='year', ascending = False)
Question4.head(10)

,state,stateabb,year,binge_all,binge_male,binge_female,poverty
432626,Mississippi,MS,2019,True,False,True,False
425235,West Virginia,WV,2019,True,False,True,False
416153,Hawaii,HI,2019,True,True,False,False
416045,Delaware,DE,2019,True,True,False,False
426081,Oregon,OR,2019,True,True,False,False
415992,Arkansas,AR,2019,True,True,False,False
426171,United States,US,2019,True,True,False,False
415736,Connecticut,CT,2019,True,True,False,False
426261,New York,NY,2019,True,False,True,False
415652,District of Columbia,DC,2019,True,False,True,False

In [216]:
Question4

,state,stateabb,year,binge_all,binge_male,binge_female,poverty
432626,Mississippi,MS,2019,True,False,True,False
425235,West Virginia,WV,2019,True,False,True,False
416153,Hawaii,HI,2019,True,True,False,False
416045,Delaware,DE,2019,True,True,False,False
426081,Oregon,OR,2019,True,True,False,False
...,...,...,...,...,...,...,...
1216,Missouri,MO,2010,False,False,False,True
1199,West Virginia,WV,2010,False,False,False,True
5386,New Jersey,NJ,2010,False,False,False,True
5419,Pennsylvania,PA,2010,False,False,False,True
5917,Virginia,VA,2010,False,False,False,True

In [214]:
Question4.groupby('state')['binge_all'].count()

state
Alabama                 54
Alaska                  54
Arizona                 54
Arkansas                54
California              54
Colorado                54
Connecticut             54
Delaware                54
District of Columbia    54
Florida                 54
Georgia                 54
Guam                    36
Hawaii                  54
Idaho                   54
Illinois                54
Indiana                 54
Iowa                    54
Kansas                  54
Kentucky                54
Louisiana               54
Maine                   54
Maryland                54
Massachusetts           54
Michigan                54
Minnesota               54
Mississippi             54
Missouri                54
Montana                 54
Nebraska                54
Nevada                  54
New Hampshire           54
New Jersey              54
New Mexico              54
New York                54
North Carolina          54
North Dakota            54
Ohio                    54
Oklahoma                54
Oregon                  54
Pennsylvania            54
Puerto Rico             54
Rhode Island            54
South Carolina          54
South Dakota            54
Tennessee               54
Texas                   54
United States           54
Utah                    54
Vermont                 54
Virgin Islands          36
Virginia                54
Washington              54
West Virginia           54
Wisconsin               54
Wyoming                 54
Name: binge_all, dtype: int64

In [206]:
Question4_binge_all=Question4[['state','year','binge_female','binge_male','DataValue','poverty']]
Question4_binge_all

                state  year  binge_female  binge_male DataValue  poverty
331             Texas  2013         False       False      19.1     True
338           Arizona  2017         False       False      15.8     True
339          Missouri  2014         False       False        14     True
357       Mississippi  2014         False       False      23.5     True
373     West Virginia  2014         False       False      19.7     True
...               ...   ...           ...         ...       ...      ...
432597           Guam  2018          True       False       7.9    False
432609   Pennsylvania  2019         False        True      21.5    False
432610      Tennessee  2017          True       False       9.3    False
432619     Washington  2017         False        True      19.9    False
432626    Mississippi  2019          True       False       8.5    False

[2934 rows x 6 columns]

In [207]:
binge_clean

,state,stateabb,year,binge_all,binge_male,binge_female,poverty
331,Texas,TX,2013,False,False,False,True
338,Arizona,AZ,2017,False,False,False,True
339,Missouri,MO,2014,False,False,False,True
357,Mississippi,MS,2014,False,False,False,True
373,West Virginia,WV,2014,False,False,False,True
...,...,...,...,...,...,...,...
432597,Guam,GU,2018,True,False,True,False
432609,Pennsylvania,PA,2019,True,True,False,False
432610,Tennessee,TN,2017,True,False,True,False
432619,Washington,WA,2017,True,True,False,False
432626,Mississippi,MS,2019,True,False,True,False

# Question 5
Unfortunately, with questions 4 and 5, I have run into quite a bit of trouble with my code (specifically, that 'binge_all', 'binge_male', 'binge_female', and 'poverty' take the boolean "True" / "False" values due to how I created my chart in the first portion of the assignment. Despite StackOverflow, YouTube tutorials, and troubleshooting of other forms, it looks like I hit a bit of a wall in terms of how to solve the problem (i.e., convert the 'booleans' to 'strings'). Despite this, I still wanted to at least write out what my methodology / logic would be for question 5:

-- In order to calculate the average annual growth rates by state, I would first use "groupby" in order to calculate the means. I would exclude information about 'poverty', 'binge_male', and 'binge_female' from my indices as they are not relevant to the question at hand. This may have looked like "binge_clean_edit[['state', 'stateabb', 'year', 'binge_all', 'DataValue]]  

The .groupby code may have looked like: "binge_clean_edit.groupby('state')[DataValue].mean()". {NOTE: I also would have re-shaped binge_clean_edit to include the "DataValue" column -- this is something that would have extended back to the first part of the homework assingment (prior to binge_clean), and would have been done by including DataValue as an index in "GenderStratification_long", so that it could have been selected / excluded as necessary in the other tables going forth. 

After sorting by state, I would use the first() and last() commands to determine the change in percent of overall binge drinking across states, for the years in which the information is available. Alternatively, I may have also tried to use the 'sort_values' function (example: PercentChange = binge_clean_edit(by='DataValue', ascending = False), though admittedly this methodology may just complicate things more than it would help them. 

Last, in order to determine the 5 states with the largest increases / 5 states with the largest decreases, I suspect that I would have used a lambda function such as binge_clean_edit.apply(lambda x: x.max()-x.min()) in order to determine the difference between the maximum and minimum for each state. If necessary, to convert to percent from decimal, I  would have editted the lambda function to be the type binge_clean_edit.apply(lambda x: x.max()-x.min()*100). The heads and tails function could also be used to specify that only the top and bottom five values are required for our table.